<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, width=device-width">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/9ae4d8f0c6.js" crossorigin="anonymous"></script>

    <script src="{{ url_for('static', filename='scripts/index.js') }}"></script>
    <script src="https://unpkg.com/htmx.org@1.9.11"
        integrity="sha384-0gxUXCCR8yv9FM2b+U3FDbsKthCI66oH5IA9fHppQq9DDMHuMauqq1ZHBpJxQ0J0"
        crossorigin="anonymous"></script>

    <link href="/static/favicon.ico" rel="icon">
    <link href="{{ url_for('static', filename='styles/index.css') }}" rel="stylesheet">

    <title>LinkUp! {% block title %}{% endblock %}</title>
</head>

<body>
    {% block body %}
    <script>
        function checkEmpty(...args) {
            for (let text of args) {
                if (text.trim() === '') {
                    return false;
                }
            } return true;
        }

        function fuckingRandomNumber() {
            const timestamp = new Date().getTime();
            Math.seed = timestamp;
            return Math.floor(Math.random() * Number.MAX_SAFE_INTEGER);
        }
    </script>
    <div class="main">
        <button onclick="scrollToTop()" id="scrollBtn"><i class="fa-solid fa-arrow-up"></i><span>Scroll back to
                top</span></button>
        <nav class="bg-light border navbar navbar-expand-md navbar-light fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">
                    <img src="{{ url_for('static', filename='images/logo.png') }}" width="80">
                </a>
                <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation"
                    class="navbar-toggler" data-bs-target="#navbar" data-bs-toggle="collapse" type="button">
                    <span class="navbar-toggler-icon"></span>
                </button>
                {% if session["user_id"] %}
                <div class="collapse navbar-collapse" id="navbar">
                    <div class="dropdown search-dropdown d-flex">
                        <form id="searchForm" name="searchForm" method="post"
                            style="display: flex; flex-direction: row; align-items: center;">
                            <input autocomplete="off"
                                class="form-control mx-auto w-auto dropdown-toggle search-dropdown-button"
                                data-bs-toggle="dropdown" id="searchQuery" name="searchQuery" placeholder="Search"
                                type="text">
                            <button type="submit" name="searchForm" form="searchForm"
                                style="margin-left: .5rem; background-color: #F0F2F5; height: 2.5rem; border: none; border-radius: 100rem; width: 2.5rem;">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </button>
                            <ul class="dropdown-menu" style="width: 85% !important;">
                                <li style="margin-left: 1rem;">
                                    <label>Search for:</label>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li style="margin-left: 1rem;">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault"
                                            id="flexRadioDefault1" value="users" checked>
                                        <label class="form-check-label" for="flexRadioDefault1">
                                            Users
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault"
                                            id="flexRadioDefault2" value="posts">
                                        <label class="form-check-label" for="flexRadioDefault2">
                                            Posts
                                        </label>
                                    </div>
                                </li>
                            </ul>
                        </form>
                    </div>
                    <div class="dropdown profile-dropdown d-flex ms-auto">
                        <a class="btn btn-outline-primary dropdown-toggle profile-dropdown-button" href="#"
                            role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {% if not user["imgUrl"] %}
                            <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png"
                                width="35" style="border-radius: 55rem;">
                            {% else %}
                            <img class="circle-img"
                                src="{{ url_for('static', filename='uploads/user-images/' + user['imgUrl']) }}"
                                width="35" height="35" style="border-radius: 55rem;">
                            {% endif %}
                            {{ user["name"] }}
                        </a>

                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item"
                                    href="{{ url_for('viewProfile', userId=session['user_id'], source='profile-posts') }}"><i
                                        class="fa-solid fa-user"></i> &zwnj; View profile</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('editProfile') }}"><i
                                        class="fa-solid fa-user-pen"></i> Edit profile</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="{{ url_for('logout') }}"><i
                                        class="fa-solid fa-right-from-bracket"></i> &zwnj; Log out</a></li>
                        </ul>
                    </div>
                    {% else %}
                    <ul class="navbar-nav ms-auto mt-2">
                        <li class="nav-item"><a class="nav-link" href="/login">Log In</a></li>
                        <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
                    </ul>
                    {% endif %}
                </div>
            </div>
        </nav>

        <main class="container-fluid py-5 text-center">
            {% block main %}
            <div class="modal fade postModal" tabindex="-1" id="postModal" data-bs-backdrop="static"
                data-bs-keyboard="false" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Create post</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form method="post" id="postForm"
                                style="display: flex; flex-direction: row; align-items: center; justify-content: center;"
                                data-user-id="{{ user['id'] }}" hx-post="{{ url_for('create_post') }}"
                                hx-swap="afterbegin" hx-target="#allPosts" hx-trigger="submit"
                                hx-encoding='multipart/form-data'>
                                <div class="mb-2" style="width: 100%;">
                                    <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="title"
                                        name="title" placeholder="Title" type="text" maxlength="60"
                                        style="border-radius: .5rem;">
                                </div>
                                <div class="mb-3">
                                    <textarea class="form-control" placeholder="Body" name="body" id="bodyTextarea"></textarea>
                                </div>
                                <div class="mb-3"
                                    style="display: flex; flex-direction: column; align-items: flex-start;">
                                    <button type="button" class="form-control mx-auto w-auto"
                                        placeholder="Select an image" id="postImageFileButton"
                                        onclick="handlePostImageInput();">
                                        <i class="fa-solid fa-cloud-arrow-up"></i>
                                        Select or drop an image
                                    </button>
                                    <input class="form-control" type="file" id="postImageFile" name="postImageFile"
                                        style="display: none;" accept="image/png, image/jpg, image/jpeg">
                                </div>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" placeholder="Tags (up to 5)" onkeypress="return event.key != ' '"
                                    style="width: 2rem !important; height: 2.5rem !important;" id="tag-name-input" maxlength="30">
                                    <button class="btn btn-outline-primary" type="button" id="add-tag-button"
                                    style="height: 2.5rem !important;">Add</button>
                                </div>
                                <div class="hashtags" id="hashtags" style="width: 100%; display: flex; flex-direction: row; align-items: flex-start; flex-wrap: wrap !important;"></div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary publishButton" data-bs-dismiss="modal" id="publishButton"
                                user_id="{{ user['id'] }}" type="submit" form="postForm">Publish</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container containerPost">
                <div class="mb-3" style="display: flex; max-width: 100%;">
                    {% if not user["imgUrl"] %}
                    <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png"
                        width="35" height="35" style="border-radius: 55rem; margin-top: 1.1rem; margin-right: 1rem;">
                    {% else %}
                    <img src="{{ url_for('static', filename='uploads/user-images/' + user['imgUrl']) }}"
                        class="circle-img" style="border-radius: 55rem; margin-top: 1.1rem; margin-right: 1rem;">
                    {% endif %}
                    <input autocomplete="off" autofocus class="form-control mx-auto w-auto red" id="triggerPostModal"
                        placeholder="Post something" style="cursor: pointer;" data-bs-toggle="modal"
                        data-bs-target="#postModal" readonly>
                </div>
            </div>

            <div class="container containerPostsSource navbar-nav"
                style="display: flex; flex-direction: row; align-items: center !important; justify-content: center !important; margin-bottom: 1rem;">
                <a href="{{ url_for('index', source='all') }}" style="margin-right: .8rem;"
                    class="sourceHref sourceAll">All</a>
                <span class="sourceDivisor"></span>
                <a href="{{ url_for('index', source='following') }}" style="margin-left: .8rem;"
                    class="sourceHref sourceFollowing">Following</a>
            </div>

            {% if not posts %}
            <div class="container">No posts here.</div>
            {% else %}

            {% block allPosts %}
            <div id="allPosts">
                {% for post in posts %}
                {% if post['author']['id'] == session['user_id'] %}
                <div class="modal" id="deletePostModalConfirmation-{{ post.id }}" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Delete post</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body" style="display: flex; align-items: flex-start;">
                                <p>Are you sure you want to delete this post?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal" style="border-radius: .5rem; height: 2rem; line-height: 1rem;">Cancel</button>
                                <button type="button" class="btn btn-outline-danger" style="border-radius: .5rem; height: 2rem; line-height: 1rem;" hx-post="{{ url_for('delete_post', post_id=post.id, source='all') }}"
                                hx-target="#allPosts" hx-swap="innerHTML" hx-trigger="click" data-bs-dismiss="modal">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade postModal" tabindex="-1" id="editPost-{{ post['id'] }}" data-bs-backdrop="static"
                    data-bs-keyboard="false" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Edit post</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form method="post" id="editPostForm-{{ post['id'] }}" class="editPostForm"
                                    style="display: flex; flex-direction: column; align-items: center; justify-content: center;"
                                    hx-post="{{ url_for('edit_post', post_id=post.id, source='all') }}"
                                    hx-target="#allPosts" hx-trigger="submit" hx-swap="innerHTML"
                                    hx-encoding='multipart/form-data'>
                                    <div class="mb-2" style="width: 100%;">
                                        <input autocomplete="off" autofocus class="form-control mx-auto w-auto"
                                            id="title" name="title" value="{{ post['title'] }}" type="text"
                                            maxlength="60">
                                    </div>
                                    <div class="mb-3" style="width: 100%;">
                                        <textarea class="form-control" name="body"
                                            style="width: 100%;">{{ post['body'] }}</textarea>
                                    </div>
                                    <div class="mb-3"
                                        style="display: flex; flex-direction: column; align-items: flex-start;">
                                        <button type="button"
                                            class="form-control mx-auto w-auto editPostImageFileButton"
                                            placeholder="Select an image" id="editPostImageFileButton-{{ post.id }}"
                                            onclick="handleEditPostImageInput('{{ post.id }}');">
                                            <i class="fa-solid fa-cloud-arrow-up"></i>
                                            Select or drop an image
                                        </button>
                                        <input class="form-control editPostImageFile" type="file"
                                            id="editPostImageFile-{{ post.id }}" name="editPostImageFile"
                                            style="display: none;" accept="image/png, image/jpg, image/jpeg">
                                        <input style="display: none;" value="{{ post.imgUrl }}" name="previousImgUrl">
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary" type="submit"
                                    form="editPostForm-{{ post['id'] }}" name="editPostForm"
                                    data-bs-dismiss="modal">Edit</button>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                <div class="container containerPosts">
                    <div class="postHeader" style="margin-top: .5rem;">
                        <img class="circle-img" src="{% if not post['author']['imgUrl'] %}
                                    https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png
                            {% else %}
                                {{ url_for('static', filename='uploads/user-images/' + post['author']['imgUrl']) }}
                            {% endif %}" width="35" height="35" style="border-radius: 55rem;">
                        <div class="postHeaderData">
                            <span><a
                                    href="{{ url_for('viewProfile', userId=post['author']['id'], source='profile-posts') }}" class="profileLink">{{
                                    post['author']['name'] }}</a></span>
                            <span class="dateAgo" data-bs-toggle="tooltip"
                                data-bs-placement="top" data-bs-title="{{ post['date'] }}">{{ post["date"].replace("-", "/")
                                | time_passed }}</span>
                        </div>

                        {% if post["author"]["id"] == session["user_id"] %}
                        <div class="postHeaderItems">
                            <div class="dropdown postHeaderDropdown dropend">
                                <button style="border: none; background-color: inherit;" class="post-options-toggle"
                                    type="button" data-bs-toggle="dropdown" aria-expanded="false"><i
                                        class="fa-solid fa-ellipsis"></i></button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="dropdown-item" data-bs-toggle="modal"
                                            data-bs-target="#editPost-{{ post['id'] }}" href="" id="editPost"><i
                                                class="fa-solid fa-pen-to-square"></i> Edit</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" id="deletePost" data-bs-toggle="modal" data-bs-target="#deletePostModalConfirmation-{{ post.id }}">
                                            <i class="fa-solid fa-trash"></i> Delete</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                    <div class="postBody" style="width: 100%;">
                        <span class="postTitle"><b>{{ post["title"] }}</b></span>
                        <span class="postBodyText">{{ post["body"] }}</span>
                        {% if post.imgUrl and not post.imgUrl == "None" %}
                        <div class="postImageDiv"
                            style="margin-top: 1rem; width: 100%; display: flex; align-items: center !important; justify-content: center !important;">
                            <img src="{{ url_for('static', filename='uploads/post-images/' + post.imgUrl) }}"
                                style="max-width: 100%; min-height: 100%; max-height: 100%;">
                        </div>
                        {% endif %}
                    </div>
                    <div class="postFooter">
                        <div class="divisor"></div>
                        {% if post.tags %}
                        <div class="postTags">
                            {% for tag in post.tags %}
                                <a href="{{ url_for('search_posts', tag=tag) }}" class="btn btn-outline-primary postTag">{{ tag }}</a>
                            {% endfor %}
                        </div>
                        {% endif %}
                        <div class="postFooterItems">
                            <div class="postFooterCommentInput">
                                {% if not user["imgUrl"] %}
                                <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png"
                                    width="36" height="36" style="border-radius: 55rem; margin-right: .5rem;">
                                {% else %}
                                <img class="circle-img"
                                    src="{{ url_for('static', filename='uploads/user-images/' + user['imgUrl']) }}"
                                    width="36" height="36" style="border-radius: 55rem; margin-right: .5rem;">
                                {% endif %}
                                <form class="commentForm" method="post" id="commentForm-{{ post['id'] }}"
                                    style="width: 100%; display: flex;" data-post-id="{{ post['id'] }}"
                                    data-user-id="{{ user['id'] }}" name="commentForm" hx-post="
                                    {% if path_contains('source=all') %}
                                        {{ url_for('create_comment', post_id=post.id, source='all') }}
                                    {% elif path_contains('source=following') %}
                                        {{ url_for('create_comment', post_id=post.id, source='following') }}
                                    {% endif %}
                                    " hx-target="#allPosts" hx-swap="innerHTML" hx-trigger="submit">
                                    <input type="hidden" name="postId" value="{{ post['id'] }}">
                                    <input class="form-control mx-auto w-auto" name="body"
                                        placeholder="Comment something">
                                    <button name="commentForm" type="submit"
                                        style="border: none; background-color: inherit; margin-left: .5rem;"><i
                                            class="fa-solid fa-paper-plane commentButton"
                                            id="submit-commentForm-{{ post['id'] }}"></i></button>
                                </form>
                            </div>
                            <div class="postFooterReplies">
                                {% if post['id'] in user['likedPostsId'] %}
                                <a href="" hx-get="
                                {% if path_contains('source=all') %}
                                    {{ url_for('handle_like', action='unlike', post_id=post.id, source='all') }}
                                {% elif path_contains('source=following') %}
                                    {{ url_for('handle_like', action='unlike', post_id=post.id, source='following') }}
                                {% endif %}
                                " hx-target="#allPosts" hx-swap="innerHTML" hx-trigger="click"
                                    style="margin-right: .5rem;"><i class="fa-solid fa-thumbs-up"></i></a>
                                {% else %}
                                <a href="" hx-get="
                                {% if path_contains('source=all') %}
                                    {{ url_for('handle_like', action='like', post_id=post.id, source='all') }}
                                {% elif path_contains('source=following') %}
                                    {{ url_for('handle_like', action='like', post_id=post.id, source='following') }}
                                {% endif %}
                                " hx-target="#allPosts" hx-swap="innerHTML" hx-trigger="click"
                                    style="margin-right: .5rem;"><i class="fa-regular fa-thumbs-up"></i></a>
                                {% endif %}
                                {% if post['comments'] %}
                                <a style="margin-right: .5rem;" data-bs-toggle="collapse" href="#post-{{ post['id'] }}"
                                    class="viewReplies" onclick="toggleText(this)">
                                    {% if post['comments']|length > 1 %}
                                    View {{ post['comments']|length }} replies
                                    {% else %}
                                    View 1 reply
                                    {% endif %}
                                </a>
                                {% else %}
                                {% endif %}
                                {% if post['usersThatLiked'] %}
                                <span class="likeAmount tool" data-bs-toggle="tooltip" data-bs-placement="top"
                                    data-bs-html="true"
                                    data-bs-title="{% for user in post['usersThatLiked'] %} {{ user['name']}}<br>{% endfor %}">
                                    {% if post['usersThatLiked']|length > 1 %}
                                    {{ post['usersThatLiked']|length }} likes
                                    {% elif post['usersThatLiked']|length < 1 %} {{ post['usersThatLiked']|length }}
                                        likes {% else %} 1 like {% endif %} </span>
                                        {% else %}
                                        {% endif %}
                            </div>
                        </div>
                        {% if post['comments'] %}
                        <div class="collapse postComments" id="post-{{ post['id'] }}">
                            {% for comment in post['comments']|reverse %}
                            <div class="postComment">
                                <div class="postCommentHeader">
                                    <div class="postCommentAuthorInfo">
                                        <img class="circle-img-small commentImage" src="{% if not comment['author']['imgUrl'] %}
                                        https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png
                                {% else %}
                                    {{ url_for('static', filename='uploads/user-images/' + comment['author']['imgUrl']) }}
                                {% endif %}" width="25" height="25" style="border-radius: 55rem;">
                                        <span class="postCommentAuthorName"><a
                                                href="{{ url_for('viewProfile', userId=comment['author']['id'], source='profile-posts') }}"
                                                class="profileLink">{{ comment['author']['name'] }}</a></span>
                                        <span style="margin-left: .5rem;" class="dateAgo" data-bs-toggle="tooltip"
                                            data-bs-placement="top" data-bs-title="{{ comment['date'] }}">{{
                                            comment["date"].replace("-", "/") | time_passed }}</span>
                                    </div>
                                    {% if comment['author']['id'] == session["user_id"] %}
                                    <div class="postCommentItems">

                                        <a href="" id="deleteComment" hx-get="
                            
                                        {% if path_contains('source=all') %}
                                            {{ url_for('delete_comment', post_id=post.id, comment_id=comment.id, source='all') }}
                                        {% elif path_contains('source=following') %}
                                            {{ url_for('delete_comment', post_id=post.id, comment_id=comment.id, source='following') }}
                                        {% endif %}
                                        " hx-target="#allPosts" hx-swap="innerHTML" hx-trigger="click">
                                            <i class="fa-solid fa-trash"></i>
                                        </a>
                                    </div>
                                    {% endif %}
                                </div>
                                <div class="postCommentContent">
                                    <span class="postCommentBody">{{ comment['body'] }}</span>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endblock %}
            {% endif %}

            {% endblock %}
        </main>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    {% endblock %}
</body>

</html>