<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, width=device-width">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/9ae4d8f0c6.js" crossorigin="anonymous"></script>

    <script src="{{ url_for('static', filename='scripts/index.js') }}"></script>
    <script src="https://unpkg.com/htmx.org@1.9.11"
        integrity="sha384-0gxUXCCR8yv9FM2b+U3FDbsKthCI66oH5IA9fHppQq9DDMHuMauqq1ZHBpJxQ0J0"
        crossorigin="anonymous"></script>

    <link href="/static/favicon.ico" rel="icon">
    <link href="{{ url_for('static', filename='styles/index.css') }}" rel="stylesheet">

    <title>LinkUp! {% block title %}{% endblock %}</title>
</head>

<body>
    <script>
        function checkEmpty(...args) {
            for (let text of args) {
                if (text.trim() === '') {
                    return false;
                }
            } return true;
        }
        $(document).ready(function () {
            $(".publishButton").on("click", function (ev) {
                ev.preventDefault();
                var user_id = $(this).attr("user_id");
                var title = $("#postForm input[name='title']").val();
                var body = $("#postForm textarea[name='body']").val();

                if (checkEmpty(title, body)) {
                    req = $.ajax({
                        url: "{{ url_for('get_posts') }}",
                        type: "POST",
                        data: JSON.stringify({ title: title, body: body }),
                        headers: { 'Content-Type': 'application/json' }
                    })

                    req.done(function (post) {
                        var parent = document.querySelector("#allPosts");

                        var postDiv = document.createElement("div");

                        postDiv.innerHTML = `
                        <div class="container containerPosts" id="${post.id}">
                    <div class="postHeader" style="margin-top: .5rem;">
                        <img class="circle-img" src="{{ url_for('static', filename='uploads/user-images/${post.author.imgUrl}') }}" width="35" height="35" style="border-radius: 55rem;">
                        <span style="margin-left: .2rem;"><a
                                href="" class="profileLink" id="profileLink${post.id}">${post.author.name}</a></span>
                        <span style="margin-left: .5rem;" class="dateAgo" data-bs-toggle="tooltip"
                            data-bs-placement="top" data-bs-title="${post.date}">${post.date}</span>
                        <a href="{{ url_for('index', source='all') }}" style="margin-left: .5rem;">Refresh to perform actions</a>

                        <div class="postHeaderItems">
                            <a data-bs-toggle="modal" data-bs-target="#editPost-${post.id}" href="{{ url_for('index', source='all') }}"
                                id="editPost"><i class="fa-solid fa-pen-to-square"></i></a>
                            <a href="{{ url_for('index', source='all') }}"
                                id="deletePost"><i class="fa-solid fa-trash"></i></a>
                        </div>
                    </div>
                    <div class="postBody">
                        <span class="postTitle"><b>${post.title}</b></span>
                        <span class="postBodyText">${post.body}</span>
                    </div>
                    <div class="postFooter">
                        <div class="divisor"></div>
                        <div class="postFooterItems">
                            <div class="postFooterCommentInput">
                                <img class="circle-img" src="${post.author.imgUrl}" width="36" height="36"
                                    style="border-radius: 55rem; margin-right: .5rem;">
                                <form class="commentForm" method="post" id="commentForm-${post.id}" style="width: 100%; display: flex;" data-post-id="${post.id}" data-user-id="${post.author.id}">
                                    <input class="form-control mx-auto w-auto" name="triggerCommentBody"
                                        placeholder="Comment something">
                                    <button type="submit"
                                        style="border: none; background-color: inherit; margin-left: .5rem;"><i
                                            class="fa-solid fa-paper-plane"
                                            id="submit-commentForm-${post.id}"></i></button>
                                </form>
                            </div>
                            <div class="postFooterReplies">
                                <a href="{{ url_for('index', source='all') }}"
                                    style="margin-right: .5rem;"><i class="fa-regular fa-thumbs-up"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>`
                        parent.prepend(postDiv);
                        $("#" + post.id).fadeOut(0.1).fadeIn(600);
                    })
                }
            })
        })
    </script>
    <div class="main">
        <nav class="bg-light border navbar navbar-expand-md navbar-light fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">
                    <img src="{{ url_for('static', filename='images/logo.png') }}" width="80">
                </a>
                <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation"
                    class="navbar-toggler" data-bs-target="#navbar" data-bs-toggle="collapse" type="button">
                    <span class="navbar-toggler-icon"></span>
                </button>
                    {% if session["user_id"] %}
                    <div class="collapse navbar-collapse" id="navbar">
                        <div class="dropdown search-dropdown d-flex">
                            <form id="searchForm" name="searchForm" method="post" style="display: flex; flex-direction: row; align-items: center;">
                                <input autocomplete="off" class="form-control mx-auto w-auto dropdown-toggle search-dropdown-button"
                                        data-bs-toggle="dropdown" id="searchQuery" name="searchQuery" placeholder="Search" type="text">
                                <button type="submit" name="searchForm" form="searchForm" style="margin-left: .5rem; background-color: #F0F2F5; height: 2.5rem; border: none; border-radius: 100rem; width: 2.5rem;">
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                </button>
                                <ul class="dropdown-menu" style="width: 85% !important;">
                                    <li style="margin-left: 1rem;">
                                        <label>Search for:</label>
                                    </li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li style="margin-left: 1rem;">
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="flexRadioDefault"
                                                    id="flexRadioDefault1" value="users" checked>
                                                <label class="form-check-label" for="flexRadioDefault1">
                                                    Users
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="flexRadioDefault"
                                                    id="flexRadioDefault2" value="posts">
                                                <label class="form-check-label" for="flexRadioDefault2">
                                                    Posts
                                                </label>
                                            </div>
                                    </li>
                                </ul>
                            </form>
                        </div>
                    <div class="dropdown profile-dropdown d-flex ms-auto">
                        <a class="btn btn-outline-primary dropdown-toggle profile-dropdown-button" href="#"
                            role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {% if not user["imgUrl"] %}
                            <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png"
                                width="35" style="border-radius: 55rem;">
                            {% else %}
                            <img class="circle-img" src="{{ url_for('static', filename='uploads/user-images/' + user['imgUrl']) }}" width="35" height="35" style="border-radius: 55rem;">
                            {% endif %}
                            {{ user["name"] }}
                        </a>

                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item"
                                    href="{{ url_for('viewProfile', userId=session['user_id']) }}"><i
                                        class="fa-solid fa-user"></i> &zwnj; View profile</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('editProfile') }}"><i
                                        class="fa-solid fa-user-pen"></i> Edit profile</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="{{ url_for('logout') }}"><i
                                        class="fa-solid fa-right-from-bracket"></i> &zwnj; Log out</a></li>
                        </ul>
                    </div>
                    {% else %}
                    <ul class="navbar-nav ms-auto mt-2">
                        <li class="nav-item"><a class="nav-link" href="/login">Log In</a></li>
                        <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
                    </ul>
                    {% endif %}
                </div>
            </div>
        </nav>

        <main class="container-fluid py-5 text-center">
            {% block main %}
            <div class="modal fade postModal" tabindex="-1" id="postModal" data-bs-backdrop="static"
                data-bs-keyboard="false" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Create post</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form method="post" id="postForm"
                                style="display: flex; flex-direction: row; align-items: center; justify-content: center;"
                                data-user-id="{{ user['id'] }}">
                                <div class="mb-2" style="width: 100%;">
                                    <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="title"
                                        name="title" placeholder="Title" type="text" maxlength="60" style="border-radius: .5rem;">
                                </div>
                                <div class="mb-3">
                                    <textarea class="form-control" placeholder="Body" name="body"></textarea>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary publishButton" data-bs-dismiss="modal" name="postForm"
                                id="publishButton" user_id="{{ user['id'] }}">Publish</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container containerPost">
                <div class="mb-3" style="display: flex; max-width: 100%;">
                    {% if not user["imgUrl"] %}
                    <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png"
                        width="35" height="35" style="border-radius: 55rem; margin-top: 1.1rem; margin-right: 1rem;">
                    {% else %}
                    <img src="{{ url_for('static', filename='uploads/user-images/' + user['imgUrl']) }}" class="circle-img"
                        style="border-radius: 55rem; margin-top: 1.1rem; margin-right: 1rem;">
                    {% endif %}
                    <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="triggerPostModal"
                        placeholder="Post something" style="cursor: pointer;" data-bs-toggle="modal"
                        data-bs-target="#postModal">
                </div>
            </div>

            <div class="container containerPostsSource navbar-nav"
                style="display: flex; flex-direction: row; align-items: center !important; justify-content: center !important; margin-bottom: 1rem;">
                <a href="{{ url_for('index', source='all') }}" style="margin-right: .8rem;"
                    class="sourceHref sourceAll">All</a>
                <span class="sourceDivisor"></span>
                <a href="{{ url_for('index', source='following') }}" style="margin-left: .8rem;"
                    class="sourceHref sourceFollowing">Following</a>
            </div>

            {% if not posts %}
            <div class="container">No posts here.</div>
            {% else %}

            {% block allPosts %}
            <div id="allPosts">
                {% for post in posts %}
                {% if post['author']['id'] == session['user_id'] %}
                <div class="modal fade postModal" tabindex="-1" id="editPost-{{ post['id'] }}" data-bs-backdrop="static"
                    data-bs-keyboard="false" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Edit post</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form method="post" id="editPostForm-{{ post['id'] }}"
                                    style="display: flex; flex-direction: column; align-items: center; justify-content: center;"
                                    action="{{ url_for('edit_post') }}">
                                    <div class="mb-2" style="width: 100%;">
                                        <input type="hidden" name="postId" value="{{ post['id'] }}">
                                        <input autocomplete="off" autofocus class="form-control mx-auto w-auto"
                                            id="title" name="title" value="{{ post['title'] }}" type="text"
                                            maxlength="60">
                                    </div>
                                    <div class="mb-3" style="width: 100%;">
                                        <textarea class="form-control" name="body"
                                            style="width: 100%;">{{ post['body'] }}</textarea>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary" type="submit" form="editPostForm-{{ post['id'] }}"
                                    name="editPostForm">Edit</button>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                <div class="container containerPosts">
                    <div class="postHeader" style="margin-top: .5rem;">
                        <img class="circle-img" src="{% if not post['author']['imgUrl'] %}
                                https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png
                        {% else %}
                            {{ url_for('static', filename='uploads/user-images/' + post['author']['imgUrl']) }}
                        {% endif %}" width="35" height="35" style="border-radius: 55rem;">
                        <span style="margin-left: .2rem;"><a
                                href="{{ url_for('viewProfile', userId=post['author']['id']) }}" class="profileLink">{{
                                post['author']['name'] }}</a></span>
                        <span style="margin-left: .5rem;" class="dateAgo" data-bs-toggle="tooltip"
                            data-bs-placement="top" data-bs-title="{{ post['date'] }}">{{ post["date"].replace("-", "/")
                            | time_passed }}</span>

                        {% if post["author"]["id"] == session["user_id"] %}
                        <div class="postHeaderItems">
                            <a data-bs-toggle="modal" data-bs-target="#editPost-{{ post['id'] }}" href=""
                                id="editPost"><i class="fa-solid fa-pen-to-square"></i></a>
                            <a href="{{ url_for('deletePost', postId=post['id'], fromPage='index') }}"
                                id="deletePost"><i class="fa-solid fa-trash"></i></a>
                        </div>
                        {% endif %}
                    </div>
                    <div class="postBody">
                        <span class="postTitle"><b>{{ post["title"] }}</b></span>
                        <span class="postBodyText">{{ post["body"] }}</span>
                    </div>
                    <div class="postFooter">
                        <div class="divisor"></div>
                        <div class="postFooterItems">
                            <div class="postFooterCommentInput">
                                {% if not user["imgUrl"] %}
                                <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png"
                                    width="36" height="36" style="border-radius: 55rem; margin-right: .5rem;">
                                {% else %}
                                <img class="circle-img" src="{{ url_for('static', filename='uploads/user-images/' + user['imgUrl']) }}" width="36" height="36"
                                    style="border-radius: 55rem; margin-right: .5rem;">
                                {% endif %}
                                <form class="commentForm" method="post" id="commentForm-{{ post['id'] }}"
                                    style="width: 100%; display: flex;" data-post-id="{{ post['id'] }}"
                                    data-user-id="{{ user['id'] }}" name="commentForm">
                                    <input type="hidden" name="postId" value="{{ post['id'] }}">
                                    <input class="form-control mx-auto w-auto" name="triggerCommentBody"
                                        placeholder="Comment something">
                                    <button name="commentForm" type="submit"
                                        style="border: none; background-color: inherit; margin-left: .5rem;"><i
                                            class="fa-solid fa-paper-plane commentButton"
                                            id="submit-commentForm-{{ post['id'] }}"></i></button>
                                </form>
                            </div>
                            <div class="postFooterReplies">
                                {% if post['id'] in user['likedPostsId'] %}
                                <a href="{{ url_for('unlikePost', postId=post['id'], fromPage='index', otherId=post['author']['id']) }}"
                                    style="margin-right: .5rem;"><i class="fa-solid fa-thumbs-up"></i></a>
                                {% else %}
                                <a href="{{ url_for('likePost', postId=post['id'], fromPage='index', otherId=post['author']['id']) }}"
                                    style="margin-right: .5rem;"><i class="fa-regular fa-thumbs-up"></i></a>
                                {% endif %}
                                {% if post['comments'] %}
                                <a style="margin-right: .5rem;" data-bs-toggle="collapse" href="#post-{{ post['id'] }}"
                                    class="viewReplies" onclick="toggleText(this)">
                                    {% if post['comments']|length > 1 %}
                                    View {{ post['comments']|length }} replies
                                    {% else %}
                                    View 1 reply
                                    {% endif %}
                                </a>
                                {% else %}
                                {% endif %}
                                {% if post['usersThatLiked'] %}
                                <span class="likeAmount" data-bs-toggle="tooltip" data-bs-placement="top"
                                    data-bs-html="true"
                                    data-bs-title="{% for user in post['usersThatLiked'] %} {{ user['name']}}<br>{% endfor %}">
                                    {% if post['usersThatLiked']|length > 1 %}
                                    {{ post['usersThatLiked']|length }} likes
                                    {% elif post['usersThatLiked']|length < 1 %} {{ post['usersThatLiked']|length }}
                                        likes {% else %} 1 like {% endif %} </span>
                                        {% else %}
                                        {% endif %}
                            </div>
                        </div>
                        {% if post['comments'] %}
                        <div class="collapse postComments" id="post-{{ post['id'] }}">
                            {% for comment in post['comments']|reverse %}
                            <div class="postComment">
                                <div class="postCommentHeader">
                                    <div class="postCommentAuthorInfo">
                                        <img class="circle-img-small" src="{% if not comment['author']['imgUrl'] %}
                                        https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png
                                {% else %}
                                    {{ url_for('static', filename='uploads/user-images/' + comment['author']['imgUrl']) }}
                                {% endif %}" width="25" height="25" style="border-radius: 55rem;">
                                        <span class="postCommentAuthorName"><a
                                                href="{{ url_for('viewProfile', userId=comment['author']['id']) }}"
                                                class="profileLink">{{ comment['author']['name'] }}</a></span>
                                        <span style="margin-left: .5rem;" class="dateAgo" data-bs-toggle="tooltip"
                                            data-bs-placement="top" data-bs-title="{{ comment['date'] }}">{{
                                            comment["date"].replace("-", "/") | time_passed }}</span>
                                    </div>
                                    <div class="postCommentItems">
                                        {% if comment['author']['id'] == session["user_id"] %}
                                        <a href="{{ url_for('deleteComment', postId=post['id'], commentId=comment['id'], fromPage='index') }}"
                                            id="deleteComment"><i class="fa-solid fa-trash"></i></a>
                                        {% else %}
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="postCommentContent">
                                    <span class="postCommentBody">{{ comment['body'] }}</span>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endblock %}
            {% endif %}

            {% endblock %}
        </main>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>