{% extends "layout.html" %}

{% block title %}
{{ userProfile["name"] }}
{% endblock %}

{% block main %}
<div class="container containerProfile">
    <div class="profileItems" style="width: 100%; height: 100%;">
        <div class="profileImageContainer">
            <img class="circle-img-big" src="{% if not userProfile['imgUrl'] %}
                        https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png
                    {% else %}
                        {{ url_for('static', filename='uploads/user-images/' + userProfile['imgUrl']) }}
                    {% endif %}" width="100" height="100"
                style="border-radius: 55rem; margin-top: 1.1rem; margin-right: 1rem;">
        </div>
        <div class="profileTexts">
            <span class="profileName">{{ userProfile["name"] }}</span>
            <span class="profileDesc">
                <div class="profileDescText">
                    {% if userProfile['description'] %}
                    {{ userProfile['description'] }}
                    {% else %}
                    No description
                    {% endif %}
                </div>
                <div class="profileDescItems">
                    <span class="profileDescBirthDate">{{ userProfile['birthDate'] }}</span>
                </div>
            </span>
        </div>
        <div class="profileFollowInfo">
            {% if userProfile['id'] != user['id'] %}
            {% if userProfile['id'] in user['followingId'] %}
            <a href="{{ url_for('handleFollow', otherId=userProfile['id'], task='unfollow') }}" class="btn btn-primary"
                style="border-radius: 55rem; height: 1.5rem; line-height: .5rem; margin-bottom: .5rem;"
                id="followBtn"></a>
            {% else %}
            <a href="{{ url_for('handleFollow', otherId=userProfile['id'], task='follow') }}"
                class="btn btn-outline-primary"
                style="border-radius: 55rem; height: 1.5rem; line-height: .5rem; margin-bottom: .5rem;">Follow</a>
            {% endif %}
            {% endif %}
            <div class="followInfo">
                <span style="margin-right: .5rem;"><b>{{ userProfile['followersId']|length }}</b> followers</span>
                <span><b>{{ userProfile['followingId']|length }}</b> following</span>
            </div>
        </div>
    </div>
</div>

<div class="container containerProfilePosts" style="margin-top: 6rem;">
    {% for post in posts %}
        {% if post['author']['id'] == session['user_id'] %}
                    <div class="modal fade postModal" tabindex="-1" id="editPost-{{ post['id'] }}" data-bs-backdrop="static" data-bs-keyboard="false" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title">Edit post</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form method="post" id="editPostForm-{{ post['id'] }}" style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
                                    <div class="mb-2" style="width: 100%;">
                                        <input type="hidden" name="postId" value="{{ post['id'] }}">
                                        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="title" name="title" value="{{ post['title'] }}" type="text" maxlength="60">
                                    </div>
                                    <div class="mb-3" style="width: 100%;">
                                        <textarea class="form-control" name="body" style="width: 100%;">{{ post['body'] }}</textarea>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                            <button class="btn btn-primary" type="submit" form="editPostForm-{{ post['id'] }}" name="editPostForm">Edit</button>
                            </div>
                        </div>
                        </div>
                    </div>
        {% endif %}
    <div class="container containerPosts">
        <div class="postHeader" style="margin-top: .5rem;">
            <img src="{% if not post['author']['imgUrl'] %}
                        https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png
                {% else %}
                        {{ url_for('static', filename='uploads/user-images/' + post['author']['imgUrl']) }}
                {% endif %}" width="35" height="35" style="border-radius: 55rem;">
            <span style="margin-left: .2rem;"><a href="{{ url_for('viewProfile', userId=post['author']['id']) }}"
                    class="profileLink">{{ post['author']['name'] }}</a></span>
            <span style="margin-left: .5rem;" class="dateAgo" data-bs-toggle="tooltip" data-bs-placement="top"
                data-bs-title="{{ post['date'] }}">{{ post["date"].replace("-", "/") | time_passed }}</span>

            {% if post["author"]["id"] == session["user_id"] %}
            <div class="postHeaderItems">
                <a data-bs-toggle="modal" data-bs-target="#editPost-{{ post['id'] }}" href="" id="editPost"><i class="fa-solid fa-pen-to-square"></i></a>
                <a href="{{ url_for('deletePost', postId=post['id'], fromPage='profileDetails') }}" id="deletePost"><i
                        class="fa-solid fa-trash"></i></a>
            </div>
            {% endif %}
        </div>
        <div class="postBody">
            <span class="postTitle"><b>{{ post["title"] }}</b></span>
            <span class="postBodyText">{{ post["body"] }}</span>
        </div>
        <div class="postFooter">
            <div class="divisor"></div>
            <div class="postFooterItems">
                <div class="postFooterCommentInput">
                    {% if not user["imgUrl"] %}
                    <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png"
                        class="circle-img" style="border-radius: 55rem; margin-right: .5rem;">
                    {% else %}
                    <img src="{{ url_for('static', filename='uploads/user-images/' + user['imgUrl']) }}"
                        style="border-radius: 55rem; margin-right: .5rem;" class="circle-img">
                    {% endif %}
                    <form method="post" id="commentForm-{{ post['id'] }}" style="width: 100%; display: flex;">
                        <input type="hidden" name="postId" value="{{ post['id'] }}">
                        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="triggerCommentModal"
                            placeholder="Comment something" name="triggerCommentBody">
                        <button type="submit" style="border: none; background-color: inherit; margin-left: .5rem;"
                            name="commentForm"><i class="fa-solid fa-paper-plane"></i></button>
                    </form>
                </div>
                <div class="postFooterReplies">
                    {% if post['id'] in user['likedPostsId'] %}
                    <a href="{{ url_for('unlikePost', postId=post['id'], fromPage='profileDetails', otherId=userProfile['id']) }}" style="margin-right: .5rem;"><i
                            class="fa-solid fa-thumbs-up"></i></a>
                    {% else %}
                    <a href="{{ url_for('likePost', postId=post['id'], fromPage='profileDetails', otherId=userProfile['id']) }}" style="margin-right: .5rem;"><i
                            class="fa-regular fa-thumbs-up"></i></a>
                    {% endif %}
                    {% if post['comments'] %}
                    <a style="margin-right: .5rem;" data-bs-toggle="collapse" href="#post-{{ post['id'] }}"
                        class="viewReplies" onclick="toggleText(this)">
                        {% if post['comments']|length > 1 %}
                        View {{ post['comments']|length }} replies
                        {% else %}
                        View 1 reply
                        {% endif %}
                    </a>
                    {% else %}
                    {% endif %}
                    {% if post['usersThatLiked'] %}
                    <span class="likeAmount" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-html="true"
                        data-bs-title="{% for user in post['usersThatLiked'] %} {{ user['name']}}<br>{% endfor %}">
                        {% if post['usersThatLiked']|length > 1 %}
                        {{ post['usersThatLiked']|length }} likes
                        {% elif post['usersThatLiked']|length < 1 %} {{ post['usersThatLiked']|length }} likes {% else
                            %} 1 like {% endif %} </span>
                            {% else %}
                            {% endif %}
                </div>
            </div>
            {% if post['comments'] %}
            <div class="collapse postComments" id="post-{{ post['id'] }}">
                {% for comment in post['comments']|reverse %}
                <div class="postComment">
                    <div class="postCommentHeader">
                        <div class="postCommentAuthorInfo">
                            <img class="circle-img-small" src="{% if not comment['author']['imgUrl'] %}
                                https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png
                        {% else %}
                                {{ url_for('static', filename='uploads/user-images/' + comment['author']['imgUrl']) }}
                        {% endif %}" width="25" height="25" style="border-radius: 55rem;">
                            <span class="postCommentAuthorName"><a
                                    href="{{ url_for('viewProfile', userId=comment['author']['id']) }}"
                                    class="profileLink">{{ comment['author']['name'] }}</a></span>
                            <span style="margin-left: .5rem;" class="dateAgo" data-bs-toggle="tooltip"
                                data-bs-placement="top" data-bs-title="{{ comment['date'] }}">{{
                                comment["date"].replace("-", "/") | time_passed }}</span>
                        </div>
                        <div class="postCommentItems">
                            {% if comment['author']['id'] == session["user_id"] %}
                            <a href="{{ url_for('deleteComment', postId=post['id'], commentId=comment['id'], fromPage='profileDetails', profileId=userProfile['id']) }}"
                                id="deleteComment"><i class="fa-solid fa-trash"></i></a>
                            {% else %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="postCommentContent">
                        <span class="postCommentBody">{{ comment['body'] }}</span>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
