{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
<div class="container containerRegister" style="max-width: 100%;">
    <div class="containerDesc">
        <span id="linkupRegister">Link up!</span>
        <span id="linkupdescRegister"><b>With intuitive features and a user-friendly interface, Link Up makes networking a breeze, fostering meaningful interactions and endless possibilities for collaboration and growth. Join Link Up today and unlock the power of connection!</b></span>
    </div>
    <div class="formTitle" style="display: flex; flex-direction: column;">
        <div class="desc" style="display: flex; flex-direction: column; align-items: center; justify-content: center; justify-items: center; margin-bottom: 1rem;">
            <span id="editProfileText">Register</span>
            <span id="editProfileDesc"><b>Be sure to write down your password somewhere!</b></span>
        </div>
        <form action="/register" method="post" id="registerForm">
            <div class="mb-3">
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="email" name="email" placeholder="E-mail" type="email">
            </div>
            <div class="mb-3">
                <input autocomplete="off" class="form-control mx-auto w-auto" id="username" name="username" placeholder="Name" type="text">
            </div>
            <div class="mb-3">
                <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
            </div>
            <button class="btn btn-primary" type="submit"><b>Register</b></button>
            <div id="divisor"></div>
            <a class="btn btn-success" href="{{ url_for('login') }}" id="login"><b>Log in</b></a>
        </form>
    </div>
</div>
{% endblock %}